

section {
  min-height: 905px;
}


.card-img{
  overflow: hidden;
}


img{
  object-fit: cover !important;
  transition: all 0.5s ease;
}

.img-fluid{
  height: 100% !important;
  object-fit: contain !important;
}


.img-hover:hover{
  transform: scale(1.5);
  cursor: pointer;
}

.img-active{
  border: 3px solid salmon;
}

.slider-content{
  position: absolute;
  top:50%;
  left:30%;
  transform: translate(-50%,-50%);
}

.slider-content h2{
  margin-bottom: 20px;
}

.card-header{
  text-align: center;
}

@media (max-width:600px) {
  .slider-content{
    left:50%;
  }
}

